*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.udinus {
    padding: 20px 0;
    background-color: #17156C ;
}
.udinus ul li {
    display: inline-block;
    
}
.container {
    margin-left: 30;
}
header h1{
    float: right;
    padding: 20px;
    color:#17156C ;
}
header ul{
    float: left;
}
header ul li{
    display:inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #17156C ;
    color: white;
}
.banner {
    height: 70vh;
    width: 210vh;
    display:inline-block ;
    background-image: url(logobarca.png);
    background-repeat: no-repeat;
    background-position: center;
}
footer{
    text-align:center;
}
